@font-face {
  font-family: 'MB_Picture_House_One_Light';
  src: url('/fonts/MB_Picture_House_One_Light-webfont.woff2') format('woff2'),
  url('/fonts/MB_Picture_House_One_Light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
adobe font nico


Century Gothic Pro Bold

font-family: century-gothic,sans-serif;
font-weight: 700;
font-style: normal;


Century Gothic Pro Bold Italic

font-family: century-gothic,sans-serif;
font-weight: 700;
font-style: italic;


Century Gothic Pro Italic

font-family: century-gothic,sans-serif;
font-weight: 400;
font-style: italic;


Century Gothic Pro Regular

font-family: century-gothic,sans-serif;
font-weight: 400;
font-style: normal;


 */