:root {
  --font-family: century-gothic,sans-serif;

  --color--main:  #C0985B;
  --color--dark:  #111518;
  --color--grey:  #EBEBEB;
  --color--light: #FFFFFF;
  --color-danger: red;

  --unit: 20px;

  --line-height:  1.15rem;
  --font-size:    0.8rem;

  --gutter:        1rem;
  --gutter--half: .5rem;

  --navigation-height: 8.25rem;
  --footer-height: 2rem;

  --max-width--lg:  1200px;
  --max-width:      700px;

  --section-padding-top_bottom: calc( var(--gutter) * 4 );

  --ui-border-width: 1px;
  --ui-border-color: var(--color--main);
}
