.lo-g-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.lo-g-box--centred {
    justify-content: center;
  }
}

.lo-g-gutter--half {
  box-sizing: border-box;
  padding-left: var(--gutter--half);
  padding-right: var(--gutter--half);
}

.lo-g-gutter {
  box-sizing: border-box;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.lo-g-row {
  box-sizing: border-box;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
}
