button,
.lo-ui-button {
  height: auto;
  padding: calc( var(--line-height) / 2 );
  line-height: var(--line-height);
  font-size: var(--font-size);
  cursor: pointer;
  box-sizing: border-box;
  font-family: inherit;
  background: white;
  border: solid 1px black;
  border-radius: 20px;
  user-select: none !important;

  > * {
    display: inline;
    vertical-align: middle;
  }
}

input {
  height: auto;
  padding: calc( var(--line-height) / 2 );
  line-height: var(--line-height);
  font-size: var(--font-size);
  box-sizing: border-box;
  font-family: inherit;
  background: white;
  border: solid 1px black;
  border-radius: 20px;
}
