button,
.lo-ui-button {
  height: auto;
  padding: calc( var(--line-height) / 2 );
  line-height: var(--line-height);
  font-size: var(--font-size);
  cursor: pointer;
  box-sizing: border-box;
  font-family: inherit;
  background: white;
  border: solid var(--ui-border-width) var(--ui-border-color);
  border-radius: 20px;
  user-select: none !important;

  > * {
    display: inline;
    vertical-align: middle;
  }
}

input {
  height: auto;
  padding: calc( var(--line-height) / 2 );
  line-height: var(--line-height);
  font-size: var(--font-size);
  box-sizing: border-box;
  font-family: inherit;
  background: white;
  border: solid var(--ui-border-width) var(--ui-border-color);
  border-radius: 20px;
}

.lo-section-bg--top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(.5, .5);
  transform-origin: top center;
}

.lo-section-bg--right {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(.5, .5);
  transform-origin: bottom right;
}

.lo-section-bg--left {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scale(.5, .5);
  transform-origin: bottom left;
}

